<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('monitor_web.dashboard.show') }}">Drom Monitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% spaceless %}
                {{ knp_menu_render('main', {currentClass: 'is-active'}) }}
            {% endspaceless %}
        </div>
    </div>
</nav>
