<div id='footer'>
    {% include '@Deshina/Default/_common/footer/copyright.html.twig' %}

    <div id='footer_menu'>
        {% spaceless %}
            {{ knp_menu_render('footer') }}
        {% endspaceless %}


        <br><br>
        <!--LiveInternet logo--><a href="//www.liveinternet.ru/click"
                                   target="_blank"><img src="//counter.yadro.ru/logo?54.6"
                                                        title="LiveInternet: показано число просмотров и посетителей за 24 часа"
                                                        alt="" border="0" width="88" height="31"/></a><!--/LiveInternet-->
    </div>

</div>
