<div id='head'>
    {% include '@Deshina/Default/_common/header/logo.html.twig' %}
    <div id='top_menu'>
        {% spaceless %}
            {{ knp_menu_render('header') }}
        {% endspaceless %}
    </div>
    <a id='storeshop' href='{{ path('deshina.about_page') }}#map1'></a>
    <div id='price'><a href='{{ asset('attach/price.xls') }}'>Скачать розничный прайс-лист</a></div>
    <div class='txt'>
        <div id='gallery'><a href='{{ asset('img/i/road.jpg') }}'>п. Угловое, ул. Гагарина, 81а</a></div>
        т. <a href='tel:+79089944226'>8 908 99 44 226</a>, <a href='tel:+74232546060'>8 (4232) 54 60 60</a><br>
        г. Лесозаводск, ул. Курская, 1а<br>т. <a href='tel:+79089933726'>8 908 99 33 726</a>
    </div>
    <div id='main_menu'>
        {% include '@Deshina/Default/_common/navigation/main.html.twig' %}
    </div>

</div>
