{% extends '@Deshina/Default/layout.html.twig' %}
{% block breadcrumbs_style %}style="display:none;"{% endblock %}
{% block content %}

            <!-- i/main.tpl begin form -->
            <!-- top_slider.tpl begin form -->
            <div style='text-align: center; padding-left: 0px;'>

                <script type="text/javascript">

                    $(function() {

                        var n = $('.second_slider .slider-num-auto-js .slideshow .moveable .frame').length;

                        var $switcher = $('.second_slider .slider-num-auto-js .switcher');

                        for ( var i=0; i<n; i++ )
                        {
                            $switcher.append( '<a href="#"></a>' );
                        }

                        $('.second_slider .slider-num-auto-js').elleCarousel({
                            speed: 250, // speed
                            auto: 4000, // autoslide
                            num: 'div.switcher a',
                            current: 'active',
                            ease: 'swing'
                        });
                    });

                </script>

                <div class="block">

                    <div class="second_slider">
                        <div class="carousel events-carousel slider-num-auto-js" id='slider-2'>
                            <a class="next btn-next" href="#">next</a>
                            <a class="prev btn-prev" href="#">prev</a>

                            <div class="slideshow slicer" data-ga="yes" data-name="slider 855x190">

                                <div class="moveable node">

                                    <!-- banners/banner_top_view.tpl begin form -->
                                    <div class="frame item label_mark yellow">

                                        <img src="http://de-shina.ru/attach/3003.jpg" alt="" width="855" height="190">

                                    </div>
                                    <!-- banners/banner_top_view.tpl end form -->
                                    <!-- banners/banner_top_view.tpl begin form -->
                                    <div class="frame item label_mark yellow">

                                        <img src="http://de-shina.ru/attach/3249.jpg" alt="" width="855" height="190">

                                    </div>
                                    <!-- banners/banner_top_view.tpl end form -->
                                    <!-- banners/banner_top_view.tpl begin form -->
                                    <div class="frame item label_mark yellow">

                                        <img src="http://de-shina.ru/attach/3015.jpg" alt="" width="855" height="190">

                                    </div>
                                    <!-- banners/banner_top_view.tpl end form -->
                                    <!-- banners/banner_top_view.tpl begin form -->
                                    <div class="frame item label_mark yellow">

                                        <img src="http://de-shina.ru/attach/3005.jpg" alt="" width="855" height="190">

                                    </div>
                                    <!-- banners/banner_top_view.tpl end form -->
                                    <!-- banners/banner_top_view.tpl begin form -->
                                    <div class="frame item label_mark yellow">

                                        <img src="http://de-shina.ru/attach/3002.jpg" alt="" width="855" height="190">

                                    </div>
                                    <!-- banners/banner_top_view.tpl end form -->
                                    <!-- banners/banner_top_view.tpl begin form -->
                                    <div class="frame item label_mark yellow">

                                        <img src="http://de-shina.ru/attach/3001.jpg" alt="" width="855" height="190">

                                    </div>
                                    <!-- banners/banner_top_view.tpl end form -->


                                </div>

                            </div>
                            <div class="switcher">
                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- top_slider.tpl end form -->



            <!--
            <img src='http://de-shina.ru/img/i/t1.jpg' width=855 height=190>
            --><!-- i/main.tpl end form -->

            <!-- default_section.tpl begin form -->
            <div style='padding: 10px;'>


                <!--
                -->



                <div class='article'>
                    <h1>7 причин купить шины и диски у нас</h1>


                    <div class="watermark">
                        <p><span class="bn">1.</span> <strong>Прямые поставки б/у шин и литых дисков из Японии</strong>, только отборного качества.</p>
                        <p><span class="bn">2.</span> <strong>Постоянно на складе более 6000 шин.</strong></p>
                        <p><span class="bn">3.</span> <strong>Гарантия низких цен - свое представительство в Японии</strong>, долгосрочные связи в Японии и отсутствие дорогостоящей рекламы в России.</p>
                        <p><span class="bn">4.</span> <strong>Гарантия 30 дней на все б/у шины и диски - только у нас!</strong></p>
                        <p>Вы можете вернуть товар без каких-либо плат за возврат абсолютно &nbsp;по любой причине, даже если просто передумали. Мы возвращаем деньги быстро и без лишних формальностей.</p>
                        <p><span class="bn">5.</span> <strong>Самое оптимальное соотношение цена-качество.</strong></p>
                        <p>Мы закупаем в Японии только отборные шины с незначительным износом. Качество японских шин - одно из самых высоких в мире. При этом &nbsp;наши цены на порядок ниже новых шин, даже китайского производства.</p>
                        <p><span class="bn">6.</span> <strong>Прозрачная система оценки качества шин.</strong></p>
                        <p>Вы знаете все дефекты конкретного комплекта шин и из чего складывается цена. Это дает Вам возможность купить лучшие шины на выделенную для этого Вами сумму.</p>
                        <p><span class="bn">7.</span> <strong>Японские технологии по оптимальному подбору шин.</strong></p>
                        <p>Японцы подобрали идеальные параметры шин и дисков для своих авто. Мы обладаем этими знаниями и поможем Вам сделать обоснованный и быстрый выбор.</p>
                        <p>&nbsp;</p>
                    </div>





                </div>




            </div><!-- default_section.tpl end form -->

{% endblock %}
